<button
  type="button"
  class="ds-notifications-button"
  [class.ds-notifications-button--active]="active()"
  [attr.aria-pressed]="active()"
  [attr.aria-label]="ariaLabel()"
  dsActiveSpin
  [enabled]="active()"
  [trigger]="active()"
  [delayClickUntilEnd]="true"
  [pendingClasses]="['ds-notifications-button--active']"
  (delayedClick)="onClick($event)"
>
  <img
    class="ds-notifications-button__icon"
    [src]="bellIconSrc()"
    width="14"
    height="18"
    alt=""
    aria-hidden="true"
  />
</button>
